@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/LatoTR-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/LatoTR-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('../fonts/LatoTR-Light.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../fonts/LatoTR-Black.woff') format('woff');
}

:root {
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --dark-color-primary: #141414;
  --dark-color-secondary: #e07a5f;
  --light-color-primary: #ded0c2;
  --light-color-secondary: #e5e5e5;
  --text-sm: 0.750rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.7rem;
  --text-2xl: 2rem;
  --text-3xl: 2.2rem;
  --section-padding-y: 3rem;
  --padding-between-items: 1.5rem;
  --section-width: 90%;
}

html, body {
  font-family: var(--font-primary);
  background-color: var(--light-color-secondary);
  color: var(--dark-color-primary);
  font-weight: 400;
  height: 100%;
  line-height: 1.8;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: var(--font-secondary);
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: var(--text-3xl);
  font-weight: 900;
}

.global-therapy-title {
  font-size: var(--text-xl);
  font-weight: 600;
  text-align: center;
  margin: 1em 0 .8em;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: var(--font-primary);
}

.h1 {
  font-size: var(--text-xl);
  font-weight: 600;
  text-align: center;
  margin: 1em 0 .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-primary);
}

h2, .h2 {
  font-size: var(--text-xl);
  font-weight: 200;
}

h3, .h3 {
  font-size: var(--text-lg);
}

a {
  color: var(--dark-color-primary);
  text-decoration: none;
}

p {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
}

button, a {
  user-select: none;
}

.bg-initial {
  filter: drop-shadow(-2px 24px 12px rgba(17, 12, 46, 0.3)) drop-shadow(-2px 24px 100px rgba(17, 12, 46, 0.2));
  margin-bottom: var(--padding-between-items);
  width: 85%;
}

/* next image doesn't accept class */

.meta-image {
  border-radius: 25px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

@media (min-width: 500px) {
  :root {
    --text-2xl: 3rem;
    --text-sm: 0.875rem;
  }
}

@media (min-width: 769px) {
  :root {
    --text-sm: 0.875rem;
    --text-md: 1.1rem;
    --text-lg: 1.33rem;
    --text-xl: 2rem;
    --text-2xl: 3rem;
    --text-3xl: 4rem;
    --section-padding-y: 4rem;
  }
  .global-therapy-title {
    font-size: var(--text-2xl);
  }
  .h1 {
    font-size: var(--text-2xl);
  }
}